<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Spam Classifier</h1>
        <form action="/predict" method="post">
            <label for="email">Email Text:</label><br>
            <textarea id="email" name="email" rows="4" cols="50"></textarea><br><br>
            <input type="submit" value="Classify">
        </form>
        {% if prediction_text %}
            <h2>{{ prediction_text }}</h2>
        {% endif %}
    </div>
</body>
</html>
